@mixin dfCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin dfSpaceAround{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin submit{
    align-self: center;
    width: 6rem;
    height: 3rem;
    border: none;
}